* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #b6adad;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #38804e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #9d9898;
}

.contact-item div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.contact-item p {
  margin: 0;
}

.contact-item input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #595555;
  border-radius: 4px;
}

.contact-item button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #f2eff8;
  margin-left: 5px;
}


.contact-item .delete-button {
  background-color: #dc3545;
  color: rgb(255, 254, 254);
}
